@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  // Background
  --main: rgba(28, 30, 32, 0.1);
  --second: rgba(28, 30, 32, 0.02);
  --dark-mode:rgba(28, 30, 32, 0.88);
  --top-navbar: #c1121f;
  --navbar: rgba(234, 237, 240, .8);

  // Text
  --text-main: rgba(28, 30, 32, 0.88);
  --text-second: rgba(28, 30, 32, 0.5);
  --text-third: #ccc;
  --text-navbar: #ee9b00;
  --text-link: #2DAAED;

  // Other
  --search-icon: #fff
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  height: 100vh;

  &:not(svg) {
    color: var(--text-main);
  }
}

img {
  width: 100%;
  height: 100%;
}

button:disabled {
  background: var(--main);
  color: var(--text-main);
}

.dark-mode {
  background: var(--dark-mode);
  color: #fff;
}

.normal {
  background: var(--main);
  color: var(--text-main);
}

.container {
  @media (min-width: 1536px){
    max-width: 1200px;
  }
}

.custom-banner {
  .banner {
    &.swiper {
      padding-bottom: 12px !important;
      max-height: 600px;
      img {
      object-fit: cover;
      max-height: 600px;
      }

      .swiper-button-next,
      .swiper-button-prev {
        display: none;
        background: var(--text-second);
        height: 72px;
        width: 48px;
        top: 42%;
        border-radius: 4px;

        &::after {
          color: #fff;
        }
      }

      .swiper-button-next {
        right: 0;
      }

      .swiper-button-prev {
        left: 0;
      }

      &:hover {

        .swiper-button-next,
        .swiper-button-prev {
          display: flex;

        }
      }

      .swiper-pagination {
        bottom: 0;

        .swiper-pagination-bullet {
          height: 6px;
          width: 6px;
        }

        .swiper-pagination-bullet-active {
          border-radius: 4px;
          width: 16px;
          background: var(--text-navbar);
        }
      }
    }
  }
}

.list-disc-custom {
  &::marker {
    color: var(--text-third);
  }
}

.search {
  &:hover {
    input {
      outline: 1px solid var(--top-navbar);
    }
    .search-icon {
      color: var(--search-icon);
    }
    .search-icon-bg {
      left: 0;
    }
  }
}

div {
  &[class*="control"]{
    cursor: pointer;
  }
}

div {
  &[class*="indicatorContainer"] {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.search-option {
  div {
    &[class*="control"] {
      border: 0;
      background: var(--main);
      padding-left: 12px;
    }
    &[class*="menu"] {
      margin-top: 4px !important;
    }
  }
  span {
    &[class*="indicatorSeparator"] {
      display: none !important;
    }
  }
}